@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Fundo estilo Blueprint/Grid */
  background-color: #e5e5f7;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  @apply font-sans text-black;
}

/* Custom selection para ficar mais agressivo */
::selection {
  background: #F4E04D;
  color: black;
}